* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

header {
  background-color: #fefefe;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1030;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.navbar {
  background-color: #fefefe;
}
.navbar .logo {
  font-size: 1.5rem;
  font-weight: 700;
}
.navbar .svg_logo {
  width: 75px;
}
.navbar .navbar-nav .nav-item {
  padding: 4px 10px;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.3rem;
  color: #33354d;
  margin-inline-start: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #617cec;
}
.navbar .dropdown-menu {
  background-color: #ffffff;
  padding: 1rem 3rem;
  color: #617cec;
  font-size: 1.2rem;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 999;
}
.navbar .dropdown-menu .dropdown-item {
  padding: 10px;
  color: #33354d;
}
.navbar .btn {
  background-color: #6267f0;
  font-size: 1.1rem;
  padding: 9px 35px;
  color: #fff;
}
.navbar .btn:hover {
  background-color: #617cec;
  color: #fff;
}

.Head {
  background: radial-gradient(116.18% 118% at 50% 100%, rgba(12, 13, 107, 0.1) 0%, rgba(71, 9, 79, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
}
.Head .content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media (max-width: 993px) {
  .Head .content {
    text-align: center;
  }
}
.Head h1 {
  font-size: 2.5rem;
  margin-bottom: 0.9rem;
  font-weight: 600;
  color: #0b0f19;
}
.Head p {
  margin-bottom: 1.5rem;
  color: #565973;
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
}
.Head .Discover {
  text-decoration: none;
  font-size: 1.5rem;
  color: #33354d;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 1rem 0rem;
}
.Head .Discover span {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  text-align: center;
}
.Head .Discover p {
  margin: 0;
}
.Head .Images {
  display: flex;
  gap: 25px;
}
.Head .Images img {
  width: 40%;
}
.Head .mob_img {
  position: relative;
}
.Head .mob_img img {
  width: 100%;
}
.Head .mob_img .img_two {
  position: absolute;
  right: 0;
}

.Boxes {
  display: flex;
  align-items: center;
}
.Boxes .box_felx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Boxes .Box {
  padding: 18px;
  border: 1px solid #eee;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
  margin: 14px 0;
}
.Boxes .Box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Boxes .Box svg {
  width: 120px;
}

.App_Features .Feature_img {
  position: relative;
}
.App_Features .Feature_img .img_one {
  width: 100%;
}
.App_Features .Feature_img .img_two {
  width: 100%;
  position: absolute;
  right: 0;
}
@media (max-width: 993px) {
  .App_Features .Feature_img {
    display: none;
  }
}
@media (max-width: 993px) {
  .App_Features .Feature_items {
    text-align: center;
  }
}
.App_Features .Feature_items .item_Box {
  display: flex;
  align-items: start;
  gap: 8px;
  padding: 10px;
}
@media (max-width: 993px) {
  .App_Features .Feature_items .item_Box {
    display: block;
  }
}
.App_Features .Feature_items .item_Box .img {
  padding: 10px;
  background-color: #f3f6ff;
  border-radius: 8px;
}
.App_Features .Feature_items .item_Box .img svg {
  text-align: center;
}
.App_Features .Feature_items .item_Box .title {
  margin: 8px 0px;
}
.App_Features .Feature_items .item_Box .title h3 {
  font-size: 2rem;
  font-weight: 600;
}
@media (max-width: 993px) {
  .App_Features .Feature_items .item_Box .title h3 {
    font-size: 1rem;
    text-align: center;
  }
}
.App_Features .Feature_items .item_Box .title p {
  font-size: 1rem;
  color: #565973;
}
@media (max-width: 993px) {
  .App_Features .Feature_items .item_Box .title p {
    font-size: 0.7rem;
    text-align: center;
  }
}
@media (max-width: 993px) {
  .App_Features .Feature_content {
    text-align: center;
  }
}
.App_Features h2 {
  font-size: 3rem;
  font-weight: 600;
}
@media (max-width: 993px) {
  .App_Features h2 {
    font-size: 2rem;
  }
}

.Money_Transfer {
  margin: 4rem 0;
}
.Money_Transfer .content_transfer {
  margin: 0 0 3rem 0;
}
.Money_Transfer .content_transfer h3 {
  color: #0b0f19;
  font-size: 2.3rem;
  font-weight: 700;
}
.Money_Transfer .content_transfer .list {
  list-style: none;
  padding: 8px 0px;
  margin-bottom: 1.4rem;
}
.Money_Transfer .content_transfer .list .list_item {
  margin-bottom: 0.5rem;
}
.Money_Transfer .content_transfer .list .list_item svg {
  width: 25px;
}
.Money_Transfer .content_transfer .list .list_item span {
  font-size: 1.2rem;
  color: #9397ad;
  padding: 5px;
}
.Money_Transfer .content_transfer .Btn_Transfer {
  padding: 13px 15px;
  background-color: #6267f0;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #6267f0;
  border-radius: 8px;
}
.Money_Transfer .content_transfer .Btn_Transfer svg {
  width: 20px;
}
.Money_Transfer .images_transfer {
  position: relative;
}
.Money_Transfer .images_transfer img {
  max-width: 100%;
}
.Money_Transfer .images_transfer .img_one {
  width: 100%;
}
.Money_Transfer .images_transfer .img_Two {
  position: absolute;
  right: 0;
}

.Btn_Transfer {
  padding: 13px 15px;
  background-color: #6267f0;
  color: #fff;
  text-decoration: none;
  border: 0.2px solid #6267f0;
  border-radius: 8px;
}
.Btn_Transfer svg {
  width: 20px;
}

.Recive_contact .images_Contact {
  position: relative;
}
.Recive_contact .images_Contact img {
  max-width: 100%;
}
.Recive_contact .images_Contact .img_Two {
  position: absolute;
  right: 0;
}
.Recive_contact .content_Contact {
  margin-top: 4rem;
}
.Recive_contact .content_Contact h3 {
  font-size: 2rem;
  font-weight: 600;
}
.Recive_contact .content_Contact .Feature_items .item_Box .img {
  padding: 10px;
  background-color: #f3f6ff;
  border-radius: 8px;
  text-align: center;
}

.Clients {
  padding: 25px 0;
  align-items: center;
  background: radial-gradient(116.18% 118% at 50% 100%, rgba(12, 13, 107, 0.1) 0%, rgba(71, 9, 79, 0.05) 41.83%, rgba(241, 244, 253, 0.07) 82.52%);
}
.Clients h4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
}

.questions {
  text-align: center;
}

.title {
  text-align: start;
}
@media (max-width: 993px) {
  .title {
    text-align: center;
  }
}
.title h5 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  line-height: 1.4;
}
.title p {
  color: #565973;
  font-size: 1.5rem;
}

.contact_Boxes {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px 0;
}
@media (max-width: 993px) {
  .contact_Boxes {
    justify-content: space-evenly;
    text-align: center;
  }
}

.Box {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 10px;
  text-align: start;
  padding: 1.6rem;
  transition: transform 0.3s;
}
.Box:hover {
  transform: translateY(-1rem) scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.Box p {
  color: #565973;
  font-size: 1.2rem;
}
.Box a {
  text-decoration: none;
  font-size: 1.2rem;
}

.accordion-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.5rem;
  background: none;
}

.accordion-header {
  background-color: #fff;
}

.accordion-button {
  font-size: 1.5rem;
  color: #0b0f19;
}

.accordion-body {
  font-size: 1rem;
  color: #565973;
  background-color: #fff;
}

.sub_box {
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #f3f6ff;
  padding: 4rem 1rem;
  border-radius: 10px;
}
@media (max-width: 993px) {
  .sub_box {
    display: block;
    padding: 20px;
  }
}

.sub_head {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px;
}
.sub_head h6 {
  color: #0b0f19;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (max-width: 993px) {
  .sub_head h6 {
    font-size: 0.8rem;
  }
}

footer {
  padding: 15px 0px;
}

.footer_nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.footer_nav .Logo .navbar-brand svg {
  width: 100px;
}
.footer_nav .Logo .navbar-brand span {
  font-size: 1.5rem;
  color: #0b0f19;
  font-weight: 600;
}

.Footer_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.Footer_menu .Footer_menu_item {
  color: #0b0f19;
  font-size: 1.4rem;
}
@media (max-width: 993px) {
  .Footer_menu .Footer_menu_item {
    font-size: 0.8rem;
  }
}
.Footer_menu .Footer_menu_item:hover {
  color: #6267f0;
}

.googel img {
  width: 180px;
  margin-top: 2rem;
  margin-inline-start: 1rem;
}
@media (max-width: 993px) {
  .googel img {
    width: 150px;
  }
}

.social_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 3rem;
}
.social_icons .icon {
  padding: 1rem;
  background-color: #eff1fd;
  border-radius: 15px;
  cursor: pointer;
}
.social_icons .fb:hover {
  background-color: blue;
  color: #fff;
}
.social_icons .ins:hover {
  background-color: blue;
  color: #fff;
}
.social_icons .twi:hover {
  background-color: #617cec;
  color: #fff;
}
.social_icons .you:hover {
  background-color: red;
  color: #fff;
}

.copyRight {
  text-align: center;
  margin-top: 2rem;
  font-size: 1rem;
  color: #565973;
}
.copyRight a {
  text-decoration: none;
  color: #111217;
  font-weight: 500;
}
.copyRight a:hover {
  color: #617cec;
}

.Client_Card {
  padding: 2rem 1rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  text-align: center;
}

.Stars {
  padding: 12px 0;
}

p {
  color: #565973;
  padding: 5px;
  font-size: 1.2rem;
}
@media (max-width: 993px) {
  p {
    font-size: 0.8rem;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 993px) {
  .profile .name {
    font-size: 1rem;
  }
}
.profile .name h6 {
  font-size: 1.3rem;
  color: #0b0f19;
  padding: 0;
}
@media (max-width: 993px) {
  .profile .name h6 {
    font-size: 1rem;
  }
}
.profile .name p {
  padding: 0;
}

.swipers .title {
  text-align: center;
  font-size: 1.5rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  width: 382px;
  height: 805px;
}
.swiper-slide h4 {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: 600;
}
.swiper-slide p {
  font-size: 0.9rem;
  padding: 8px 12px;
}

.swiper_frame {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}
.swiper_frame img {
  width: 380px;
  height: 785px;
}/*# sourceMappingURL=style.css.map */